$white        :#FFFFFF;
$black        :#000000;

$gray         :#333333;
$lightGray    :#666666;
$darkGray     :#333333;
$midGray      :#4d4d4d;

$whiteLine    :#808080;
$dirtyWhite   :#f2f2f2;

$red          :#cc1b32;
$activeRed    :#910a1a;
