//Framework directory options
$mainLayout_path      :'/counselor/views/main/' !default;
$scss_path            : '#{$mainLayout_path}scss/' !default;
$framework_directory  : '#{$root_path}#{$project}#{$scss_path}' !default;
$mainScripts_path     : '#{$mainLayout_path}js/' !default;
$fonts_path           : '#{$mainLayout_path}css/fonts' !default;

$image_path           : '/counselor/views/main/images' !default;
$sprites              : '#{$image_path}/sprites/' !default;

$boxsizing_path       : '#{$mainScripts_path}boxsizing.htc';
$border-radius        : '#{$mainScripts_path}border-radius.htc';
$CSS3-pie             : '#{$mainScripts_path}PIE.htc';
