<<<<<<< HEAD
@import 'C:/WORKSPACE/spine/website/views/main/scss/core/global';
@CHARSET "ISO-8859-1";
.main {
  margin:auto;
}

.content {
  padding-left: 2%; 
}
=======
@import 'C:/WORKSPACE/educounsel-cas/ecapp/counselor/views/main/scss/core/global';
@CHARSET "ISO-8859-1";

.container{
  max-width:none!important;
  width:1170px;
  margin:0 auto;
}
>>>>>>> 36674d51096fbc2b7cc969b076a74bab18fb88a3
